.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.description {
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
}

.justified {
    padding: 10px;
    border-radius: 15px;
    min-height: 700px;
    background-color: rgb(237, 234, 234);
}

.header {
    margin-bottom: 50px;
    margin-top: 10px;
    display: block;
}

.input-label {
    color: rgb(75, 75, 75);
    float: left;
}

textarea {
    min-width: 80%;
    margin-bottom: 50px;
    margin-top: 20px;
    float:center;
    height: 150px;
}

img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    float:left;
}

select {
    margin-left: 15px;
}

.footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.estimatedInput {
    margin-left: 15px;
    width: 100px;
}

button {
    margin: 10px;
}

.buttons {
    text-align: center;
}